.App {
  text-align: center;
  background: #666;
  font-family: Myfont;
  min-height: 100%;
  min-width: 600px;
  color: rgb(29, 28, 28);
}

h1 {
  margin: 0;
  padding: 20px;
  font-family: Myfont2;
  color: rgb(223, 223, 49);
  font-weight: lighter;
  font-size: 45px;
  text-shadow: rgb(4, 0, 255) 0 0 10px;
}
@font-face {
  font-family: MyFont;
  src: url("./fonts/Pokemon\ Hollow.ttf");
}
@font-face {
  font-family: MyFont2;
  src: url("./fonts/Pokemon\ Solid.ttf");
}
a {
  text-decoration: none;
  color: rgb(192, 192, 192);
}
.contentPart {
  margin: 0 auto;
}
.footer {
  bottom: 0;
}
